* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cossette Titre", sans-serif;
    color: white;
}

body {
    background: darkslateblue;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin: 20px auto;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin-top: 10px;
}

span {
    color: #fed725;
    font-size: 35px;
    font-weight: bolder;
}

option {
    color: black;
}

input {
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 10px auto 0;
    display: block;
    width: 300px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 10px;
}

input::placeholder {
    color: black;
}

button {
    text-align: center;
    font-size: 20px;
    color: white;
    background: darkslateblue;
    margin: 30px auto 30px;
    display: block;
    width: 300px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-text {
    width: 526px;
    margin: 0 auto;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
}

.painel {
    padding: 10px;
    margin: 20px auto 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    background: #404040;
    border: none;
    border-radius: 40px;
}

.convert-from {
    margin-top: 15px;
    margin-bottom: 15px;
}

.convert-to {
    margin-top: 15px;
    margin-bottom: 15px;
}

.label {
    font-size: 20px;
    font-weight: 400;
    width: 102px;
}

.currency-select {
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 10px auto 0;
    display: block;
    width: 300px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 10px;
}

.value {
    font-size: 20px;
    font-weight: 400;
    width: 102px;
}

.convert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.text,
.text-1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.converted {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .logo {
        position: absolute;
    }
}

@media screen and (max-width: 526px) {
    .main-text {
        width: auto;
    }
}

@media screen and (max-width: 502px) {
    .logo {
        width: 70px;
    }
}